
@model ChangePass

@{
    ViewBag.Title = "Update Password";
}

<h1>Register</h1>

<div asp-validation-summary="All" class="text-danger"> </div>
<form method="post" asp-controller="Account" asp-action="UserCredentials">

    <div class="form-group row align-content-center LogInCredentials">
        <div class="col-sm-9">
            <div class="col-sm-7">
                <label>Old Password: </label>
                <input type="password" asp-for="OldPassword" class="form-control" data-toggle="tooltip" data-placement="top" title="Provide Employee UserName e.g EmployeeNAme@domain.com" placeholder="Employee UserName" />
            </div>
        </div>
    </div>

    <div class="col">
        <span asp-validation-for="OldPassword" class="text-danger">

        </span>
    </div>

    <div class="form-group row">
        <div class="col-sm-9">
            <div class="col-sm-7">
                <label> New Password: </label>
                <input type="password" asp-for="NewPasword" class="form-control" data-toggle="tooltip" data-placement="top" title="Provide Employee Password" placeholder="Password" />
            </div>
        </div>
        <div class="col">
            <span asp-validation-for="NewPasword" class="text-danger">

            </span>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-4">
            <button type="submit" asp-action="PatientDetails" class="btn btn-primary">Cancel</button>
            <button asp-controller="Home" asp-action="ChangePassword" class="btn btn-primary">Save</button>
        </div>
    </div>


</form>
