@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = " | Medical Conditions ";
    Layout = "_Layout_Patient";
}


<h2>
    Patient
</h2>