@model Helping_Hands.CareVisits

@{

    ViewData["Title"] = " | Schedule Appoinment ";
    Layout = "_Layout_Nurse";

}

<form method="post" asp-action="">


    <div class="head-part">



    </div>

    <div class="Body-part">
     

        <div class="">

        </div>

    </div>

</form>
